{{ $headless := .Site.GetPage "/about-me" }}
{{ if $headless }}
<section class="section py-0" id="about-me" >
  <div class="container">
    <div class="row row--padded rad-animation-group rad-fade-down" >
      <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto">
        <h3>{{ $headless.Params.title }}</h3>
        <div class="lead">
          <p>
            {{ $headless.Content }}
          </p>
        </div>
      </div>
      <div class="col-12 col-md-7 pl-md-0 text-right">
        <div class="image-frame-responsive">
          <img
            class='lozad img-responsive p-md-5'
            src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
            data-src="{{ $headless.Params.image.x | absURL }}"
            data-srcset="{{ $headless.Params.image.x | absURL }} 1x, {{ $headless.Params.image._2x | absURL }} 2x"
            alt="{{ $headless.Params.title }}"
          />
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
