{{ $headless := .Site.GetPage "/showcase" }}
{{ if $headless }}
<section class="rad-showcase rad-showcase--index rad-animation-group rad-fade-down">
  <div class="rad-showcase__bg justify-content-center">
    <img
      class="lozad img-responsive image-frame-600 mt-0"
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ $headless.Params.image.x | absURL }}"
      data-srcset="{{ $headless.Params.image.x | absURL }} 1x, {{ $headless.Params.image._2x | absURL }} 2x"
      alt="{{ $headless.Params.image.alt }}"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <h1 class="display-1">
          {{ $headless.Params.title }}
          <br />
          <span class="h4"
            >{{ $headless.Params.subtitle }}</span
          >
        </h1>
        <div class="lead">
          <p>
            {{ $headless.Content | safeHTML }}
          </p>
        </div>
        <a
          href="{{ $headless.Params.button.URL }}"
          class="btn btn-primary"
        >
          <i class="{{ $headless.Params.button.icon }}"></i>
          {{ $headless.Params.button.btnText }}
        </a>
      </div>
    </div>
    <div class="row platform-links">
      <div class="col-12">
        {{ $headlessSocialLinks := .Site.GetPage "/showcase/social-links" }}
        {{ range $headlessSocialLinks.RegularPages }}
        <a href="{{ .Params.link | absURL }}" target="_blank"
          ><i class="icon-{{ .Params.icon }}-line"></i
        ></a>
        {{ end }}
      </div>
    </div>
    <div class="rad-showcase__bg rad-showcase__bg--mobile">
      <div class="image-frame-responsive">
        <img
          class="lozad img-responsive"
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ $headless.Params.imageMobile.x | absURL }}"
          alt="{{ $headless.Params.imageMobile.alt }}"
        />
      </div>
    </div>
  </div>
</section>
{{ end }}
